*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.search-wrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search{
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 1vw;
}
.search_input{
  width: 250px;
  height: 40px;
  padding: 5px;
  border: 2px solid lightskyblue;
  border-radius: 10px;
  outline: none;
  font-size: 20px;
}
.search_btn{
  width: 60px;
  background-color: lightskyblue;
  border: 2px solid lightskyblue;
  border-radius: 40px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.search_btn:hover{
  border-color: lightskyblue;
  background: white;
  color: darkblue;
}
.cat-inf{
  padding: 10px;
  border: 4px double grey;
  border-radius: 15px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 500px;
}
.cat_description{
  padding: 5px;
  margin-top: 10px;
  text-align: center;
}
.cat_img{
  margin: 0 auto;
}

.cat_breed, .cat_origin{
  margin: 0 auto;
  margin-top: 20px;
  display: inline-flex;
  justify-content: space-between;
  width: 300px;
  font-style: italic;

}
.look_on_wiki{
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  padding: 6px 3px;
  text-decoration: none;
  border: 4px solid lightskyblue;
  background: lightskyblue;
  border-radius: 10px;
  width: 200px;
  color: white;
  font-size: 20px;

}
.look_on_wiki:hover{
  background: white;
  color: lightskyblue;
}
.correct-name{
  position: absolute;
  top: 30px;
  right: 600px;
  color: red;
  font-size: 20px;
}

.cat-list{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 20vw;
  border: 1px solid grey;
}
.cat-name{
  color: white;
  background: lightskyblue;
  border: 2px solid lightskyblue;
  border-radius: 20px;
  padding: 2px 5px;
  margin: 10px;
}

.all-cats{
  width: 99vw;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
.cat-btn{

  padding: 2px 6px;
  background-color: lightskyblue;
  border: 2px solid lightskyblue;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.cat-btn:hover{
  color: black;
}
